body{
	font-family: sans-serif;
	background-color: green;
	background-image: url("https://cdn.pixabay.com/photo/2018/06/30/09/31/background-image-3507320__340.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	font-size: 27px;
	


}

